{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <div class="text">
        Ce site est le fruit d'un délire avec mes amis. Je leur ai parlé de mon sujet de dossiers, puisque la plupart d'entre eux font des études dans l'informatique. <br>
        Même si tout le monde n'a pas tout compris, une chose était sûr : un site parlant de nourriture ne pouvait qu'être une bonne idée. Cuisiner faisant partie de mes occupations favorites, je n'ai pu qu'être d'accord avec eux.<br>

    </div>
</div>
{% endblock %}
