{% extends "base.html" %}

{% block content %}

    <div class="text">
        <h1>Bienvenue sur Wiki'Food !</h1>
        <p>Pour réussir notre objectif, on compte sur vous ! (Comment ça le slogan est déjà pris ?)<br></p>
        <div>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div style="padding-bottom: 20px">
                        <h2>{{ field.label_tag }}</h2>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="ok" />
            </form>
        </div>

        {% if recipes.count == 0 %}
            <div>Aucune recette trouvée</div>
        {% else %}
            <div>Il y a {{ recipes.count }} recettes comportant ce mot</div>
            {% for recipe in recipes %}
                <div class="menu">
                    <h1>{{ recipe.title }}</h1>
                    <div>{{ recipe.ingredients }}</div>
                    <div>{{ recipe.guide }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
