{% extends "base.html" %}

{% block content %}

    <!-- Barre de recherche -->
        {% if form %}
            <div class="wrap">
                <form method="post" class="searchTerm">
                    {% csrf_token %}
                    <label for="id_name"></label>
                    <input type="text" class="input" name="name" maxlength="100" id="id_name" placeholder="Que recherchez-vous ?">
                    <button type="submit" class="searchButton">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        {% endif %}
 {% if recipes.count == 0 %}
            <div class="text">Aucune recette trouvée</div>
        {% else %}
            <div class="card-group">
                {% for recipe in recipes %}
                    <div class="card" style="max-width: 400px; min-width: 300px; margin: 30px">
                        {% if recipe.photo %}
                            <img class="card-img-top" src="{{ recipe.photo.url }}" alt="Card image cap" style="max-height: 250px">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.times }} min</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ recipe.ingredients }}</li>
                            <li class="list-group-item">{{ recipe.guide }}</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted">{{ recipe.user }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    <!-- Le blabla pour remplir la page-->
      <div>
        <h1>Bienvenue sur Wiki'Food !</h1>
        <p>Wiki'Food est un projet collaboratif en ligne. Le but ? Créer le plus gros livre de recette au monde fait pour et par les utilisateurs !<br>
            Alors, pour réussir notre objectif, on compte sur vous ! (... Comment ça ce slogan est déjà pris ?)</p>
      </div>
    <h2 class="title-container">L'actualité</h2>

    <div class="row" style="margin-right: 0">
        <div class="col" style="text-align: center">
            <div class="board-blabla">
                <h3>Qui dit hiver dit... Raclette ! (On vous jure, ça rime)</h3>
                <p class="text">
                    Cette merveilleuse création culinaire est au centre de bien des conversations en ce moment. L'un des sujets qui revient le plus souvent est le suivant : pour ou contre la raclette toute l'année ?
                    Bien sur, Wiki'Food ne pouvait pas passer à côté d'un débat aussi clivant, et pour essayer de vous donner une idée de quelle tendance l'emporte, l'équipe a été chercher des réponses auprès de nos utilisateurs les plus réguliers !<br>
                    Et sans plus tarder, voici les résulats !
                </p>
            </div>

            <!-- Le tableau-->
            <div class="wrap-board">
                <table class="board">
                    <tr class="line">
                        <th class="cell"></th>
                        <th class="cell">Pour</th>
                        <th class="cell">Contre</th>
                        <th class="cell">Le fromage est<br> une invention du diable</th>
                    </tr>
                    <tr class="line">
                        <td class="cell">Jules</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Mélissa</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Édouard</td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Nolwenn</td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Lauren</td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Maël</td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Diego</td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Manon</td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Jérémy</td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Bastien</td>
                        <td class="cell">X</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                    </tr>
                    <tr class="line">
                        <td class="cell">Simon</td>
                        <td class="cell"></td>
                        <td class="cell"></td>
                        <td class="cell">X</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col" style="text-align: center">
            <div class="video-blabla">
                <h3>Parce qu'en hiver,  il n'y a pas que la raclette !</h3>
                <p class="text">Et oui, en hiver il y a aussi Noël ! Voici donc la vidéo de bûche qui a recueilli le plus d'avis favorable de la part de nos utilisateurs !</p>
            </div>
            <div style="text-align: center">
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/zrlJbCma31Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
