@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

/*Habilage du menu*/
.menu {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.menu, ul {
  background-color: transparent;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.menu, ul li {
  background-color: transparent;
  display: inline-block;
}

.menu, ul li a {
  background-color: transparent;
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: ghostwhite; text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.menu, ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/*Habillage du texte du site*/
p, h1, h2, .text{
  font-family: "Open Sans";
}

h1, .text{
  padding-left: 1em;
  padding-top: 2em;
}
p{
  padding-left: 1em;
}

/*Habillage de la barre de recherche*/

.searchButton {
  border: 1px solid #f69d3c;
  background: #f69d3c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.input{
  border: 5px solid #f69d3c;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.wrap {
  width: 80%;
  min-height: 100px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.card-group{
  padding-top: 3em;
}