@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
}

/*Habilage du menu*/
.menu {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.menu, ul {
  background-color: transparent;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.menu, ul li {
  background-color: transparent;
  display: inline-block;
}

.menu, ul li a {
  background-color: transparent;
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.menu, ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/*Habillage du blabla du site*/
p, h1, h2, h3, .text{
  font-family: "Open Sans";
}

h1, .text{
  padding-left: 1em;
  padding-top: 1em;
}
p, h3{
  padding-left: 1em;
}

h3{
  padding-top: 1em;
}

.title-container{
  font-weight: bold;
}

.board-blabla, .video-blabla{
  max-width: 90%;
}

.video-blabla, .video{
}

/*Habillage de la barre de recherche*/
.searchButton {
  border: 1px solid #f69d3c;
  background: #f69d3c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px;
  padding-bottom: 3px
}

.input{
  border: 5px solid #f69d3c;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.helptext{
  display: none;
}

.wrap {
  width: 80%;
  min-height: 100px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Open Sans";
}

.card-group{
  padding-top: 3em;
}

/*Formulaires*/
.recipe{
  font-family: "Open Sans";
  padding-top: 1em;
  padding-bottom: 1em;
}
.recipe, h2{
  text-align: center;
  padding-top: 1em;
}
.input_recipe, .input_login{
  border: 5px solid #f69d3c;
  border-radius: 5px 5px 5px 5px;
  background-color: #f69d3c;
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
}

.login{
  padding-top: 1em;
  padding-left: 1em;
}

.form-group{
  padding-top: 1em;
  padding-left: 1em;
  line-height: 200%;
}

.button-register{
  border: 5px solid #f69d3c;
  border-radius: 5px 5px 5px 5px;
  background-color: #f69d3c;
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
}

/*Le tableau*/
.wrap-board{
  padding-bottom: 1em;
  padding-left: 1em;
}

.board, .line, .cell {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #f69d3c;
  padding: 10px;
  text-align: center;
  font-family: "Open Sans";
}

.about-container{
  max-width: 90%;
}

/*Footer*/
.footer{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
  margin-top: 30%;
}

.team, .contacts, .thanks{
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  font-family: "Open Sans";
}
