@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  min-height: 100%;
}

/*Habilage du menu*/
.menu {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.menu, ul {
  background-color: transparent;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.menu, ul li {
  background-color: transparent;
  display: inline-block;
}

.menu, ul li a {
  background-color: transparent;
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.menu, ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

/*Habillage du blabla du site*/
p, h1, h2, h3, .text{
  font-family: "Open Sans";
}

h1, .text{
  padding-left: 1em;
  padding-top: 1em;
}
p, h3{
  padding-left: 1em;
}

h3{
  padding-top: 1em;
}

.title-container{
  font-weight: bold;
}

.board-blabla, .video-blabla{
  max-width: 90%;
}

/*Habillage de la barre de recherche*/
.searchButton {
  border: 1px solid #f69d3c;
  background: #f69d3c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px;
  padding-bottom: 3px
}

.input{
  border: 5px solid #f69d3c;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.helptext{
  display: none;
}

.wrap {
  width: 80%;
  min-height: 100px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Open Sans";
}

.card-group{
  padding-top: 3em;
}

/*Formulaires*/
.recipe{
  font-family: "Open Sans";
  padding-top: 1em;
  padding-bottom: 1em;
}
.recipe, h2{
  text-align: center;
  padding-top: 1em;
}
.input_recipe, .input_login{
  border: 5px solid #f69d3c;
  border-radius: 5px 5px 5px 5px;
  background-color: #f69d3c;
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
}

.login{
  padding-top: 1em;
  padding-left: 1em;
}

.form-group{
  padding-top: 1em;
  padding-left: 1em;
  line-height: 200%;
}

.wrap-register, .wrap-login{
    display: flex;
    align-content: flex-start;
}

.text-register, .text-login{
    padding-top: 1em;
    line-height: 2.5;
    padding-left: 5px;
}

.button-register{
  border: 5px solid #f69d3c;
  border-radius: 5px 5px 5px 5px;
  background-color: #f69d3c;
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
}

/*Le tableau*/
.wrap-board{
  padding-bottom: 100px;
  padding-left: 1em;
}

.cell1, .cell2, .cell3, .cell4 {
  width: 20%;
  border-collapse: collapse;
  border: 3px solid #f69d3c;
  padding: 10px;
  text-align: center;
  font-family: "Open Sans";
}

.about-container{
  max-width: 90%;
}

/*Footer*/
.footer{
  clear: both;
  position: relative;
  bottom: 0;
  margin-top: 50%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  color: white; text-shadow: 0.1em 0.1em 0.2em black;
}

.team, .contacts, .thanks{
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  font-family: "Open Sans";
}

/*La barre de recherche que j'avais fait au début*/
.form-search-about {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
}

.form-search-about, .input-about, .caret {
	margin: auto;
}
.form-search-about {
	position: relative;
	width: 100%;
	max-width: 17em;
}
.input-about, .caret {
	display: block;
	transition: all calc(var(--dur) * 0.5) linear;
}
.input-about {
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input-about:focus, .input-about:valid {
	background: transparent;
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(var(--dur) * 0.25);
	transition-delay: calc(var(--dur) * 0.25);
	width: 100%;
	height: 3em;
}
.input-about:focus {
	animation: showCaret var(--dur) steps(1);
	outline: transparent;
}
.input-about:focus + .caret, .input-about:valid + .caret {
	animation: handleToCaret var(--dur) linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}
.input-about::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	color: transparent;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
.caret {
	background: currentColor;
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.25em;
	height: 1em;
	transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	transform-origin: 50% 0;
}

/*Animation*/
@keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: var(--primary);
	}
}
@keyframes handleToCaret {
	from {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	}
	25% {
		background: currentColor;
		width: 0.25em;
		height: 1em;
		transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
	}
	50%, 62.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
	}
	75%, 99% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
	87.5% {
		background: var(--primary);
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
	}
	to {
		background: transparent;
		width: 1px;
		height: 1.5em;
		transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
	}
}